<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="<%= image_url('frame.png')%>" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Designer Ux</h1>
            <p class="opacity-75">A consultoria de UX ajuda empresas a melhorar a usabilidade geral de seus produtos, a se conectar com seu público e a otimizar suas receitas, implementando processos, métodos e ferramentas de uma experiência do usuário ideal para cada projeto.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
      <img src="<%= image_url('sites-2.jpg')%>" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Desenvolvimentos de Sites</h1>
            <p>Criamos Sites com a Última Tecnologia Disponível para sua Segurança. Nossos Projetos são Baseados na Tecnologia Responsiva Criando uma versão para Cada Dispositivo: Celular, Tablet e Desktop.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
      <img src="<%= image_url('sites5.jpg')%>" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Site 100% Personalizado</h1>
            <p>Criamos Sites que Possuem a Alma e DNA da Sua Empresa, de Forma Única e Desenhados Exclusivamente para a Sua Marca.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  
  <div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Principais skills que usamos para desenvolver suas aplicações web:</h2>
  </br>
  <h4>Sistemas Operacionais:</h4>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('linux.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Linux</h5>
      </div>
    </div>
  </div>
  <h4>Designer Ux:</h4>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('figma.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Figma</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('canva.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0"></h5>
      </div>
    </div>
  </div>
  
  <h4>Front-End:</h4>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('vscode.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Vs Code</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('HTML5.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">HTML5</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('css3.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">CSS3</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('javascript.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Java Script</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('bootstrap.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Bootstrap Design</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('bulma.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Bulma</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('responsive-website.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Responsive website</h5>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="<%= image_url('git.png')%>" alt="...">
      <div>
        <h5 class="fw-bold mb-0">Git e GitHub</h5>
      </div>
    </div>
  </div>

    
</main>